.navbar__color {
    background-color: #1E5128!important;
}

.navbar__container {
    display: flex;
    align-items: center;
    width: 90vw;
}

.flex--end {
    margin-left: 82vw!important;
}

.settings {
    text-decoration: none!important;
    color: white!important;
}